<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container mt-5">
    <h1>Book List</h1>
    <p th:if="${totalItems == 0}">No books available.</p>
    <div th:if="${totalItems > 0}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a th:href="@{/books(page=${currentPage}, size=${pageSize}, sort='title', order=${sortField == 'title' ? reverseSortOrder : 'asc'})}">Title</a></th>
                <th><a th:href="@{/books(page=${currentPage}, size=${pageSize}, sort='author', order=${sortField == 'author' ? reverseSortOrder : 'asc'})}">Author</a></th>
                <th><a th:href="@{/books(page=${currentPage}, size=${pageSize}, sort='isbn', order=${sortField == 'isbn' ? reverseSortOrder : 'asc'})}">ISBN</a></th>
<!--                <th>Created On</th>-->
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbn}"></td>
<!--                <td th:text="${#temporals.format(book.createdOn, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
                <td th:text="${#temporals.format(book.updatedOn, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Book Pagination">
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage > 0}">
                    <a class="page-link" th:href="@{/books(page=${currentPage - 1}, size=${pageSize}, sort=${sortField}, order=${sortOrder})}">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${i == currentPage ? 'active' : ''}">
                    <a class="page-link" th:href="@{/books(page=${i}, size=${pageSize}, sort=${sortField}, order=${sortOrder})}" th:text="${i + 1}"></a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages - 1}">
                    <a class="page-link" th:href="@{/books(page=${currentPage + 1}, size=${pageSize}, sort=${sortField}, order=${sortOrder})}">Next</a>
                </li>
            </ul>
        </nav>

        <p>Total Items: <span th:text="${totalItems}"></span></p>
        <p>Page: <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></p>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>